.home {
    height: 90vh;
    grid-column: 1/-1;
    background-image: url(../../img/hero2.jpg);
    background-position: top;
    background-size:100% ;
    background-repeat: no-repeat;


    .main-header{
        height: 90vh;
        justify-content: flex-start;
        flex-grow: 1;
    }
// .explore-nearby{
//     background-color: #fff;
//     :nth-child(2){
//         grid-template-columns: repeat(4, 1fr);
//         grid-template-rows: repeat(2, 1fr);
//     }
// }

    .app-desc{
        flex: 1;
        display: block;
        align-self: flex-end;
        margin-bottom: 20rem;
        color: #fff;
        span,
        a{
            background-color: #fff;
            padding: 5px;
            color: $clr2;
            border-radius: 10px;
            width: fit-content;
        }
        a{
            line-height: 3;
        }
    }
}