
.title-secondery > *{
    gap: 20px;
    margin-bottom: 5px;
}

.img-grid-container{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
    gap: 5px;
    margin-bottom: 40px;

    img{
        object-fit: cover;
        width: 100%;  
    }

    :first-child {
    grid-area: 1/1/3/3;
    border-radius: 10px 0 0 10px;
    }
    :nth-child(3){
        border-radius: 0 10px 0 0;
    }
    :nth-child(5){
        border-radius: 0 0 10px 0;
    }

}

.description-availability{
    gap: 40px;
    
    .stay-description{
        flex: 2;
    }
    .availability{
        flex: 1;
        text-align: center;
    }
    img{
        max-width: 30px;
        border-radius: 50%;
    }
}

.availability{
    position: sticky!important;
    top: 300px;
    height: fit-content;
    padding: 20px;
    border: 1px solid #dddddd;
    border-radius: 10px;
    padding: 24px;
    box-shadow:  0 6px 8px rgb(216, 216, 216);


    
    .value-rate{
     align-items: baseline;   
    }

    .order-details{
        border: 1px solid #dddddd;
        border-radius: 3px;
    }
}