.explore-nearby{
    margin-top: 40px;
    h1{
        font-size: 2rem;
    }
}

.explore{
    margin-top: 20px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, auto);
    grid-gap: 20px;

    .explore-preview{
        flex-wrap: wrap;
        letter-spacing: 1.2px;
    }

    .destination{   
        margin: 15px 0;
        flex: 2;
        margin-left:20px;
        line-height: 2;
    }

    .img{
        flex:1;
        
        img{
            border-radius: 8px;
        }
    }
    
    .city{ 
        font-weight: 600;
    }
}